mat-toolbar {
  align-items: center;
  justify-content: center;
  position: relative;
  .todo-title{
    font-weight: 600;
  }
  .todo-add-button {
    right: 1%;
    position: absolute;
    .todo-add-icon {
      font-weight: 600;
      transform:scale(1.3);
    }
  }
}
