<div class="content" *ngIf="projects$ | async">
  <mat-card class="todo-card" *ngFor="let p of projects$ | async">
    <mat-card-header>
      <mat-card-title>{{p.title}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <ng-container *ngFor="let t of todos$ | async" >
        <section class="todos-section" [formGroup]="todo_card">
          <p *ngIf="t.project_id == p.id" id="todo-checkbox">
            <mat-checkbox [checked]="t.isComplited" [id]="t.id.toString()" #c (change)="checkChange(c.id, c.checked)">
              {{t.text}}
            </mat-checkbox>
          </p>
        </section>
      </ng-container>
    </mat-card-content>
  </mat-card>
</div>
